<div class="userpage">
  <h1><%= user.escape("username") %>'s Tweets</h1>
  <% if (!currentUserCheck) { %>
    <% if (user.escape("following") === "true") { %>
      <button class="unfollow">Unfollow</button>
    <% } else { %>
      <button class="follow">Follow</button>
    <% } %>
  <% } %>
  </button>
  <a class="followers" href="#/users/1/follows">Followers</a>
  <a class="followings" href="#/users/1/follows">Followings</a>
  <form class="tweetform"></form>
  <ul>
    <% user.tweets().forEach(function(tweet) { %>
      <li>
        <%= tweet.escape("tweet") %>
        <% if (currentUserCheck) { %>
          <button class="delete-tweet" id=<%= tweet.id %>>Delete</button>
        <% } %>
      </li>
    <% }) %>
  </ul>
</div>
