  <form action="<%= tweets_url %>" method="POST">
    <%= render "shared/auth_token" %>
    <input
      type="text"
      name="tweet[tweet]"
      placeholder="What's happening?">
    <button>Tweet</button>
  </form>
