<div class="signup">
  <h1>Sign Up</h2>
    <form action="<%= users_url %>" method="POST">
      <%= render "shared/auth_token" %>
      <input
        id="user_username"
        type="text"
        name="user[username]"
        placeholder="Username">
      <input
        id="user_password"
        type="password"
        name="user[password]"
        placeholder="Password">
      <button>Sign Up</button>
    </form>
</div>
